* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1 {
  background-image: url(./images/image1.avif);
  min-height: 100%;
}

.pimg2 {
  background-image: url(./images/image2.png);
  min-height: 400px;
}

.pimg3 {
  background-image: url(./images/image3.avif);
  min-height: 400px;
}

.pimg4 {
  background-image: url(./images/image4.avif);
  min-height: 100%;
}
.pimg1,
.pimg2,
.pimg3,.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #313534;
  padding: 30px 40px;
  font-size: 40px;
  color: #fff;
  opacity: 0.8;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section {
  padding: 50px 80px;
  text-align: center;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-light h2 {
  margin-bottom: 40px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 300;
}

.section-light p {
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}

.text2 {
  opacity: 0.8;
  background-color: #313534;
  font-size: 55px;
  text-align: center;
}

.text3 {
  opacity: 0.8;
  background-color: #313534;
  font-size: 55px;
  width: 63%;
  text-align: center;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.section-dark h2 {
  margin-bottom: 40px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 300;
}

.section-dark p {
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1109px) {
  .ptext {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
  }

  .section-light h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
  }

  .section-dark h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
  }
}
